<div class="record-summary text-center">
    <h2>{{ .Params.name }}</h2>
    <h4>
        {{ with .Params.github }}
            @{{ . }}
        {{ else }}
            (no github)
        {{ end }}
    </h4>
    <hr class="primary">
    {{ with .Params.github }}
        <img src="https://github.com/{{ range first 1 (split . "/") }}{{ . }}{{ end }}.png" class="img-responsive img-centered" alt="" />
    {{ else }}
        <img src='{{ "img/school.png" | absURL }}' class="img-responsive img-centered" alt=""></img>
    {{ end }}
    <p>
        {{ with .Params.description }}
            {{ . | markdownify }}<br />
        {{ end }}
        {{ with .Params.github }}
            [<a href="https://github.com/{{ . }}">github</a>]
        {{ end }}
        {{ with .Params.website }}
            [<a href="{{ . }}">website</a>]
        {{ end }}
    </p>
    <p>{{ .Content }}</p>
</div>
