{{ define "hero"}}
    {{ partial "header/hero-wide.html" . }}
{{ end }}
{{ define "content" }}
    {{ partial "main/background.html" . }}

    {{ partial "records/thumbnail.html" (dict "global" $ "type" "organizations" "level" "root" "background" "bg-dark") }}
    {{ partial "records/thumbnail.html" (dict "global" $ "type" "companies" "level" "root" "background" "bg-lightdark") }}
    {{ partial "records/list.html" (dict "global" $ "type" "projects" "level" "root" "background" "bg-dark") }}
    {{ partial "records/thumbnail.html" (dict "global" $ "type" "users" "level" "root" "background" "bg-lightdark") }}
    {{ partial "records/thumbnail.html" (dict "global" $ "type" "incubators" "level" "root" "background" "bg-dark") }}
    {{ partial "records/list.html" (dict "global" $ "type" "other" "level" "root" "background" "bg-lightdark") }}

    {{ partial "main/events.html" . }}
    {{ partial "main/contribution.html" . }}
{{ end }}
